.service {
  margin-top: 10rem;

  &__list {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  &-card {
    position: relative;
    background-color: var(--eerie-black);
    height: 100%;
    padding: 60px 40px 40px;
    transition: var(--transition-2);
    border: 2px solid var(--roman-silver);

    .card-title {
      color: var(--content-color, var(--roman-silver));
      margin-block: 20px;
    }

    .card-text {
      color: var(--content-color);
    }

    .card-number {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      line-height: 0.6;
      max-width: max-content;
      margin-block-start: 32px;
      -webkit-text-stroke: 1px var(--content-color, var(--black));
      -webkit-text-fill-color: transparent;
      opacity: 0.3;
    }

    &:hover,
    &:focus-within {
      background-color: var(--raisin-black);
      --content-color: var(--white);
    }
  }
}

