{% extends "src/templates/base/base.njk" %}

{% block preloader %}
{% include "./src/templates/preloader.njk" %}
{% endblock %}

{% block content %}
    <main>
        <article>
            <section class="section-hero" id="section-hero" aria-label="home">
                <div class="section-hero__bg-slider" data-src="static/img/fullscreen-slider/cam_001.jpg"></div>
                <div class="section-hero__bg-slider" data-src="static/img/fullscreen-slider/cam_3.jpg"></div>
                <div class="section-hero__bg-slider" data-src="static/img/fullscreen-slider/cam_4.jpg"></div>
                <div class="hero-content">
                    <div class="container">
                        <div class="hero-animate">
                            <h1 class="h1 hero-title">Est.<br>Architect</h1>
                            <p class="hero-subtitle">The art of harmony, beauty & function</p>
                        </div>
                        <p class="hero-subtitle">Interior design & architecture. Based in Montenegro</p>
                    </div>
                </div>
            </section>

            <!-- #SERVICES -->
            <section class="service" id="service" aria-labelledby="service-label">
                <div class="container">
                    <div class="title-wrapper">
                        <div>
                            <p class="section-subtitle">
                                Services That We Provide
                            </p>
                            <h2 class="h2 section-title" id="service-label">Services</h2>
                        </div>
                        <p class="section-text">
                            Phasellus et lacus suscipit congue nisl the volutpat magna. donec miss the drana risus
                            tincidunt convallis
                            velit orci congue tortor eu dignissim ipsum suam non odio. Pellenta esuntion miss the
                            imperdiet metus
                            ornare.
                        </p>
                    </div>

                    <div class="slick-slider__container">
                        <div class="slick-slider">
                            <div class="service-card">
                                <div class="card-icon">
                                    <ion-icon name="desktop-outline"></ion-icon>
                                </div>
                                <h3 class="h3 card-title">Interior design-project</h3>
                                <p class="card-text">
                                    Composition of the main project: concept, visualization, working documentation,
                                    additional services:
                                    equipment, author's
                                    support.
                                </p>
                                <span class="text-lg card-number">01</span>
                                <a href="#" class="layer-link"
                                   aria-label="More about Interior design-project service"></a>
                            </div>
                            <div class="service-card">
                                <div class="card-icon">
                                    <ion-icon name="podium-outline"></ion-icon>
                                </div>
                                <h3 class="h3 card-title">Architectural project</h3>
                                <p class="card-text">
                                    __stages:
                                    1. conceptual design. conceptual solution
                                    2. architectural project
                                    3. construction project. working documentation
                                    __services: facade design, landscape design
                                </p>
                                <span class="text-lg card-number">02</span>
                                <a href="#" class="layer-link"
                                   aria-label="More about my Architectural project service"></a>
                            </div>
                            <div class="service-card">
                                <div class="card-icon">
                                    <ion-icon name="basket-outline"></ion-icon>
                                </div>
                                <h3 class="h3 card-title">2D-plan</h3>
                                <p class="card-text">
                                    Website ravida surna eveti semen the conse tusio anivite dianne one nivam
                                    acestion vue artin
                                    dictum.Customized 3D and 2D floor plans are becoming a classic way of
                                    presentation in real estate.
                                    They easily orient on the
                                    floors and convey the layout of the building as a whole. We produce 2D and 3D
                                    plans in record time
                                    to help your clients
                                    get a clearer picture of the property.
                                </p>
                                <span class="text-lg card-number">03</span>
                                <a href="#" class="layer-link" aria-label="More about my 2D-plan service"></a>
                            </div>
                        </div>
                        <button className="slick-slider__back" aria-label="back">prev</button>
                        <button className="slick-slider__next" aria-label="next">next</button>
                    </div>

                    <div class="slider" data-slider>
                        <ul class="slider-container service-list" data-slider-container>
                            <li class="slider-item" data-slider-item>
                                <div class="service-card">
                                    <div class="card-icon">
                                        <ion-icon name="desktop-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3 card-title">Interior design-project</h3>
                                    <p class="card-text">
                                        Composition of the main project: concept, visualization, working documentation,
                                        additional services:
                                        equipment, author's
                                        support.
                                    </p>
                                    <span class="text-lg card-number">01</span>
                                    <a href="#" class="layer-link"
                                       aria-label="More about Interior design-project service"></a>
                                </div>
                            </li>

                            <li class="slider-item" data-slider-item>
                                <div class="service-card">
                                    <div class="card-icon">
                                        <ion-icon name="podium-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3 card-title">Architectural project</h3>
                                    <p class="card-text">
                                        __stages:
                                        1. conceptual design. conceptual solution
                                        2. architectural project
                                        3. construction project. working documentation
                                        __services: facade design, landscape design
                                    </p>
                                    <span class="text-lg card-number">02</span>
                                    <a href="#" class="layer-link"
                                       aria-label="More about my Architectural project service"></a>
                                </div>
                            </li>

                            <li class="slider-item" data-slider-item>
                                <div class="service-card">
                                    <div class="card-icon">
                                        <ion-icon name="basket-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3 card-title">2D-plan</h3>
                                    <p class="card-text">
                                        Website ravida surna eveti semen the conse tusio anivite dianne one nivam
                                        acestion vue artin
                                        dictum.Customized 3D and 2D floor plans are becoming a classic way of
                                        presentation in real estate.
                                        They easily orient on the
                                        floors and convey the layout of the building as a whole. We produce 2D and 3D
                                        plans in record time
                                        to help your clients
                                        get a clearer picture of the property.
                                    </p>
                                    <span class="text-lg card-number">03</span>
                                    <a href="#" class="layer-link" aria-label="More about my 2D-plan service"></a>
                                </div>
                            </li>

                            <li class="slider-item" data-slider-item>
                                <div class="service-card">
                                    <div class="card-icon">
                                        <ion-icon name="color-filter-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3 card-title">3D visualization</h3>
                                    <p class="card-text">
                                        Customized 3D and 2D floor plans are becoming a classic way of presentation in
                                        real estate. They
                                        easily orient on the
                                        floors and convey the layout of the building as a whole. We produce 2D and 3D
                                        plans in record time
                                        to help your clients
                                        get a clearer picture of the property.
                                    </p>
                                    <span class="text-lg card-number">04</span>
                                    <a href="#" class="layer-link"
                                       aria-label="More about my 3D visualization service"></a>
                                </div>
                            </li>

                            <li class="slider-item" data-slider-item>
                                <div class="service-card">
                                    <div class="card-icon">
                                        <ion-icon name="megaphone-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3 card-title">Exterior preparation</h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, culpa
                                        voluptatum cum inventore
                                        blanditiis nihil dolore unde ab sequi omnis deleniti magnam quaerat similique
                                        deserunt modi
                                        excepturi saepe, nam vel.
                                    </p>
                                    <span class="text-lg card-number">05</span>
                                    <a href="#" class="layer-link"
                                       aria-label="More about Exterior preparation service"></a>
                                </div>
                            </li>

                            <li class="slider-item" data-slider-item>
                                <div class="service-card">
                                    <div class="card-icon">
                                        <ion-icon name="chatbubbles-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3 card-title">Presentation</h3>
                                    <p class="card-text">Catalogs for developers.</p>
                                    <span class="text-lg card-number">06</span>
                                    <a href="#" class="layer-link" aria-label="More about Presentation service"></a>
                                </div>
                            </li>
                        </ul>

                        <div class="slider-controls">
                            <button class="slider-control prev" data-slider-prev aria-label="Slide to previous item">
                                <div class="line"></div>
                                <div class="arrow"></div>
                            </button>

                            <button class="slider-control next" data-slider-next aria-label="Slide to next item">
                                <div class="line"></div>
                                <div class="arrow"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </section>


            <!-- #PROJECTS -->
            <section class="portfolio" aria-labelledby="portfolio-label">

                <div class="title-wrapper container">

                    <div>
                        <p class="section-subtitle" id="portfolio-label">Our Works</p>

                        <h2 class="h2 section-title">Portfolio</h2>
                    </div>

                    <p class="section-text">
                        Phasellus et lacus suscipit congue nisl the volutpat magna. donec miss the drana risus tincidunt
                        convallis
                        velit orci congue tortor eu dignissim ipsum suam non odio. Pellenta esuntion miss the imperdiet
                        metus
                        ornare.
                    </p>

                </div>

                <div class="slider" data-slider>

                    <ul class="slider-container" data-slider-container>

                        <li class="slider-item">
                            <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                                <img src="static/img/slider/portfolio-1.jpg" width="600" height="600" loading="lazy"
                                     alt="portfolio"
                                     class="img-cover">

                                <div class="card-content">
                                    <h3 class="h3 card-title">Belvedere penthouse</h3>

                                    <p class="card-text">Interior design-project | Architectural project</p>
                                </div>

                                <a href="#" class="layer-link"></a>

                            </div>
                        </li>

                        <li class="slider-item">
                            <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                                <img src="static/img/slider/portfolio-2.jpg" width="600" height="600" loading="lazy"
                                     alt="portfolio"
                                     class="img-cover">

                                <div class="card-content">
                                    <h3 class="h3 card-title">SilverScreen Cinema</h3>

                                    <p class="card-text">Interior design-project | Architectural project</p>
                                </div>

                                <a href="#" class="layer-link"></a>

                            </div>
                        </li>

                        <li class="slider-item">
                            <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                                <img src="static/img/slider/portfolio-3.jpg" width="600" height="600" loading="lazy"
                                     alt="portfolio"
                                     class="img-cover">

                                <div class="card-content">
                                    <h3 class="h3 card-title">Skyline apartment</h3>

                                    <p class="card-text">Interior design-project | Architectural project</p>
                                </div>

                                <a href="#" class="layer-link"></a>

                            </div>
                        </li>

                        <li class="slider-item">
                            <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                                <img src="static/img/slider/portfolio-4.jpg" width="600" height="600" loading="lazy"
                                     alt="portfolio"
                                     class="img-cover">

                                <div class="card-content">
                                    <h3 class="h3 card-title">Studio apartment</h3>

                                    <p class="card-text">Conceptual solution | 3D visualization</p>
                                </div>

                                <a href="#" class="layer-link"></a>

                            </div>
                        </li>

                    </ul>

                    <div class="slider-controls">
                        <button class="slider-control prev" data-slider-prev aria-label="Slide to previous item">
                            <div class="line"></div>
                            <div class="arrow"></div>
                        </button>

                        <button class="slider-control next" data-slider-next aria-label="Slide to next item">
                            <div class="line"></div>
                            <div class="arrow"></div>
                        </button>
                    </div>

                </div>

            </section>

        </article>
    </main>
{% endblock %}
