<footer class="footer">
    <div class="container">
        <ul class="footer-list">
            <li>
                <p class="h4 footer-list-title">Get in touch</p>
            </li>
            <li>
                <a href="mailto:info@est.architect.com" class="footer-link">info@est.architect.com</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <p class="h4 footer-list-title">Locations</p>
            </li>
            <li>
                <a href="#" class="footer-link">Budva — Montenegro</a>
            </li>
        </ul>
        <ul class="social-list">
            <li>
                <a href="#" class="social-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
        </ul>

    </div>
    <div class="copyright">Copyright 2023. All rights reserved</div>
</footer>