{% extends "src/templates/base/base.njk" %}
{% set headerdark = true %}

{% block content %}
    <main>
        <article>
            <section class="section-hero" id="section-hero" aria-label="home">
                <div class="hero-content">
                    <div class="container">
                        <h1 style="color: black">Projects</h1>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}