:root {
  /* colors */
  --raisin-black: #f1f1f1;
  --roman-silver: #676d7a;
  --eerie-black: #fefdfa;
  --black: hsla(229, 10%, 57%, 1);
  --white: hsla(231, 10%, 14%, 1);
  --white_a10: hsla(0, 0%, 100%, 0.1);
  --white_a5: hsla(0, 0%, 100%, 0.05);
  --logo: #f1dec2;
  --blue: #04CCFF;

  /* typography */
  --ff-cera: 'CeraPro';

  --fs-1: 4.8rem;
  --fs-2: 4.5rem;
  --fs-3: 4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-400: 700;
  --fw-300: 300;

  /* spacing */
  --section-padding: 100px;

  /* border radius */
  --radius-pill: 100px;
  --radius-circle: 50%;
  --blob-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;

  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

}