
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon {

  pointer-events: none;
}

html {
  font-family: 'CeraPro';
  font-size: 10px;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black);
  color: var(--roman-silver);
  font-size: 1.6rem;
  line-height: 1.75;
  overflow: hidden;
}

body.loaded {
  overflow: overlay;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}


/* #REUSED STYLE */

.container {
  padding-inline: 12px;
}

.section {
  padding-block: var(--section-padding);
}

.h1 {
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
}

.h1,
.h2,
.h4 {
  color: var(--white);
  line-height: 1;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  color: var(--white);
  font-size: var(--fs-4);
  line-height: 1.5;
}

.h4 {
  font-size: var(--fs-5);
}

.h2,
.h3,
.h4 {
  font-weight: var(--fw-300);
}

.w-100 {
  width: 100%;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  position: absolute;
  content: "";
  z-index: -1;
}

.btn {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  min-width: max-content;
  padding: 20px 32px;
}

.btn::before {
  width: 70px;
  height: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid var(--roman-silver);
  border-radius: var(--radius-circle);
  transition: var(--cubic-bounce);
}

.btn:is(:hover, :focus-visible)::before {
  left: calc(100% - 70px);
}

.section-subtitle {
  text-transform: uppercase;
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  margin-block-end: 20px;
  letter-spacing: 2px;
}

.section-title {
  margin-block-end: 45px;
}

.text-lg {
  font-family: 'CeraPro';
  font-size: var(--fs-1);
}

.layer-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider {
  --slider-items: 1;
  --item-gap: 12px;

  margin-block-start: 60px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
  transition: transform var(--cubic-ease-out);
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));

  min-width: var(--item-width);
  width: var(--item-width);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 1px;
  background-color: var(--white);
}

.slider-control .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--white);
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 1px 1px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 1px 1px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--white_a5);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* #SERVICES */

.service {
  margin-block-end: 100px;
}

.service-card {
  position: relative;
  background-color: var(--eerie-black);
  height: 100%;
  padding: 60px 40px 40px;
  transition: var(--transition-2);
  border: 2px solid var(--roman-silver);
}

.service-card .card-icon ion-icon {
  color: var(--content-color, var(--roman-silver));
  font-size: 6rem;
  --ionicon-stroke-width: 15px;
}

.service-card .card-title {
  color: var(--content-color, var(--roman-silver));
  margin-block: 20px;
}

.service-card .card-text {
  color: var(--content-color);
}

.service-card .card-number {
  margin-inline-start: auto;
  font-weight: var(--fw-400);
  line-height: 0.6;
  max-width: max-content;
  margin-block-start: 32px;
  -webkit-text-stroke: 1px var(--content-color, var(--black));
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}

.service-card:is(:hover, :focus-within) {
  background-color: var(--raisin-black);
  --content-color: var(--white);
}



/* #PROJECTS */

.portfolio .slider {
  --item-gap: 16px;
}

.portfolio-card {
  position: relative;
  background-color: transparent;
  transition: var(--cubic-ease-out);
}

.portfolio-card .img-cover {
  transition: var(--cubic-ease-out);
}

.portfolio-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-55%, -50%);
  opacity: 0;
  transition: var(--cubic-ease-out);
  z-index: 1;
}

.portfolio-card .card-text {
  color: var(--white);
}

.portfolio-card:is(:hover, :focus-within) .img-cover {
  opacity: 0.1;
  transform: scale(0.95);
}

.portfolio-card:is(:hover, :focus-within) .card-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}



/* #FOOTER */

.footer {
  background-color: var(--raisin-black);
  padding-block: 76px;
}

.footer .container {
  display: grid;
  gap: 20px;
}

.social-list {
  display: flex;
  gap: 20px;
}

.social-link {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white_a10);
  border-radius: var(--radius-circle);
  border-color: var(--white);
  color: var(--white);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  border-color: var(--roman-silver);
  color: var(--roman-silver);
}

.footer .copyright {
  text-align: center;
  padding-top: 100px;
}



/* #MEDIA QUERIES */
/* responsive for large than 575px screen */

@media (min-width: 575px) {

  /* REUSED STYLE */
  .container {
    max-width: 570px;
    width: 100%;
    margin-inline: auto;
  }

  .slider {
    --slider-items: 2;
  }

  /* #FOOTER */
  .footer-list-title {
    margin-block-end: 8px;
  }

}



/* #responsive for large than 768px screen */

@media (min-width: 768px) {

  /* #CUSTOM PROPERTY */

  :root {
    /* #typography */
    --fs-2: 6rem;
    --fs-3: 5.5rem;
  }

  /* #REUSED STYLE */
  .container {
    max-width: 720px;
  }

  .title-wrapper {
    display: flex;
    gap: 10%;
  }

  .title-wrapper .section-title {
    margin-block-end: 0;
  }

  .title-wrapper .section-text {
    margin-block-start: 40px;
  }

  /* #HERO */
  .hero .container {
    position: relative;
  }

  .hero-banner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 55%;
    z-index: -1;
  }

  .hero-content {
    width: 100%;
    margin-inline-start: auto;
    padding-block: 10%;
  }

  /* #FOOTER */
  .footer .container {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* responsive for large than 992px screen */

@media (min-width: 992px) {

  /* #CUSTOM PROPERTY */

  :root {
    /* #typography */
    --fs-3: 7rem;
  }

  /* #REUSED STYLE */
  .container {
    max-width: 960px;
  }

  .title-wrapper {
    gap: 15%;
  }

  .slider {
    --slider-items: 3;
  }

}

@media (min-width: 1200px) {

  :root {
    /* spacing */
    --section-padding: 140px;
  }

  /* REUSED STYLE */
  .container {
    max-width: 1140px;
  }
}